*{
  margin: 0;
  padding: 0;
  font-family: "work sans", sans-serif;
}
/* Banner Styles */
.header{
  margin-bottom: 130px;
  
}
.banner{
  background-image: url(../images/banner/banner3.png);
  width: 1600px;
  height: 800px;
  background-repeat: no-repeat;  
  

}
.banner-title{
  font-family: "Work Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  text-align: right;
  padding: 208px 230px 30px 845px;
  width: 525px;
  height: 228px;
  color: #fff;
}
.banner-description{
  line-height: 26px;
  text-align: right;
  height: 80px;
  width: 490px;
  margin: 0 230px 30px 877px;
  color: #fff;
}
.btn-primary{
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 160px;
  margin: 0 230px 166px 1210px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;

}

/* Failures Section Styles */
.failure-section{
  margin-top: 130px;
  max-width: 1075px;
  max-height: 725px;
  margin: 0 auto;
}
.failure-section-container{
  
  display: flex;
  gap: 90px;
  
}
.failure-section-title{
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 288px;
  height: 94px;
  margin-top: 370px;
  margin-bottom: 24px;

}
.failure-section-description{
  color: #444343;
  margin-bottom: 16px;
}
.failure-section-description-fact{
  color: #444343;
  margin-bottom: 8px;
}
/* My Plan Section Styles */
.my-plan-section{
  width: 180;
  height: 50px;
  margin: 0 auto;
}
.my-plan-section-title{
  text-align: center;
  margin-top: 130px;
  margin-bottom: 50px;
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.plans-items-container{
  display: flex;
  gap: 86px;
  justify-content: center;
}
.plan-item-title{
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
.plan-item-description{
  color: #737272;
  font-size: 25px;
  font-weight: 500;
  margin-top: 16px;
}
